<h2>Bokning borttagen</h2>
<p>
  Din bokning för kursen <%= @booking.booker.name %>, <%= l(@booking.booker.starts_at, :format => :short) %>, har blivit borttagen.
</p>

<%- if @booking.payment -%>
<%- if @booking.payment.type? :gift_certificate -%>
<p>
  Ditt presentkort kommer att krediteras med <%= number_to_currency(@booking.payment.value) %>    
</p>
<%- else -%>
<p>
  Ditt konto kommer att krediteras med <%= number_to_currency(@booking.payment.value) %>    
</p>
</p>
<%- end -%>
<%- end -%>
<p>
  Om du har några frågor så maila oss gärna på <%= mail_to AppConfig[:support_mail] %> eller ring oss på <%= AppConfig[:support_phone] %>.   
</p>
