<div class="gift-certificate-card">
  <div class="header">&nbsp;</div>
  <h2>Presentkort</h2> 
  
  <div class="gift-certificate-names">
  	<div class="gift-certificate-to">
      <b>Till</b>
      <%=h gift_certificate.to_name %>
    </div>
    <div class="gift-certificate-from">
	  <b>Från</b>
      <%=h gift_certificate.from_name %>
    </div>
  </div>

  <div class="gift-certificate-value">
    <b>Värde</b> <%=h number_to_currency(gift_certificate.original_funds) %>
  </div>

  <%- unless gift_certificate.message.blank? -%>
  <div class="gift-certificate-personal-message">
    <b>Personligt meddelande</b> <%= simple_format(gift_certificate.message) %>
  </div>
  <%- end -%>
  <div class="gift-certificate-footer">
    När du bokar en kurs eller klass så anger du koden
    <b><%=gift_certificate.to_param %></b><br>
    Det går även bra att utnyttja
    presentkortet direkt genom att besöka
    <%= link_to gift_certificate_url(gift_certificate), gift_certificate_url(gift_certificate), :target => 'gift_certificate' %>
    <p>
    
    <%= render :partial => '/welcome/address_contact.html.erb' %>
    
  </div>
</div>

