<div class="gift-certificate-card">
  <p>
    <h2><%=h gift_certificate.coupon_type.title %></h2>
    <%=h gift_certificate.coupon_type.description %>
  </p>
  <p>
    <b>Presentkort för:</b>
    <%=h gift_certificate.to_name %>
  </p>

  <p>
    <b>Från:</b>
    <%=h gift_certificate.from_name %>
  </p>

  <p>
    <b>Presentkortets värde:</b> <%=h number_to_currency(gift_certificate.original_funds) %>
  </p>
  <%- if gift_certificate.no_funds?  -%>
  <p>
    Inga pengar finns kvar på presentkortet
  </p>
  <%- elsif !gift_certificate.full_funds?  -%>
  <p>
    <b>Presentkortets resterande värde är:</b> <%=h number_to_currency(gift_certificate.available_funds) %>
  </p>
  <%- end -%>
  <%- unless gift_certificate.message.blank? -%>
  <p>
    <b>Personligt medelande:</b> <%=h gift_certificate.message %>
  </p>
  <%- end -%>
  <p>
    <b>Referencenummer:</b>
    <%=gift_certificate.to_param %>    
  </p>
  <p>
    <b>Adress:</b>
    <%= link_to gift_certificate_url(gift_certificate), gift_certificate_url(gift_certificate), :target => 'gift_certificate' %>    
  </p>
</div>
