%h2
  Presentkort för #{@gift_certificate.coupon_type.name.downcase} (#{number_to_currency(@gift_certificate.coupon_type.value)})
%p= @gift_certificate.coupon_type.description
- form_for(@gift_certificate) do |f|
  = base_errors_for(@gift_certificate)
  .columns.three-columns.gift-certificate
    .column{:style => "width:200px"}
      %h3 Till
      %p
        = f.label GiftCertificate.human_attribute_name(:to_name)
        = f.text_field :to_name
      %p
        = f.label GiftCertificate.human_attribute_name(:to_email)
        = f.text_field :to_email
      %p
        = f.label GiftCertificate.human_attribute_name(:to_phone)
        = f.text_field :to_phone
      /
        <p>
        <haml:loud> f.label GiftCertificate.human_attribute_name(:to_address) </haml:loud>
        <haml:loud> f.text_area :to_address, :rows =&amp;gt; 4 </haml:loud>
        </p>
    .column{:style => "width:200px"}
      %h3 Från
      %p
        = f.label GiftCertificate.human_attribute_name(:from_name)
        = f.text_field :from_name
      %p
        = f.label GiftCertificate.human_attribute_name(:from_email)
        = f.text_field :from_email
      %p
        = f.label GiftCertificate.human_attribute_name(:from_phone)
        = f.text_field :from_phone
      /
        <p>
        <haml:loud> f.label GiftCertificate.human_attribute_name(:from_address) </haml:loud>
        <haml:loud> f.text_area :from_address, :rows =&amp;gt; 4 </haml:loud>
        </p>
    .column{:style => "width:300px"}
      %h3
        = GiftCertificate.human_attribute_name(:message)
        \:
      %p
        = f.text_area :message, :rows => 11
      %p
        = captcha_block 'Skriv in texten från bilden nedan i nedanstående fält'
      %p{:style => "text-align:right; margin-top:30px"}
        = link_to_function "Köp presentkort för <b>#{number_to_currency(@gift_certificate.coupon_type.value)}</b>", 'forms["new_gift_certificate"].submit()', :class => 'button button-default'
  = f.hidden_field :coupon_type_id
