.columns.columns-twelve
  .column
    .content
      %h3
        Presentkort för #{@gift_certificate.coupon_type.name.downcase} (#{number_to_currency(@gift_certificate.coupon_type.value)})
      %p= @gift_certificate.coupon_type.description
      - form_for(@gift_certificate) do |f|
        = base_errors_for(@gift_certificate)
        %hr
        %table.form-listing
          %colgroup
            %col{ :width => '80' }
            %col{ :width => '*' }
          %tr
            %th
            %td
              %h4 Presentkortet är till
          %tr
            %th
              = f.label GiftCertificate.human_attribute_name(:to_name)
            %td
              .full-width
                = f.text_field :to_name
          %tr
            %th
            %td
              %hr
              %h4 Presentkortet är från
          %tr
            %th
              = f.label GiftCertificate.human_attribute_name(:from_name)
            %td
              .full-width
                = f.text_field :from_name
          %tr
            %th
              = f.label GiftCertificate.human_attribute_name(:from_email)
            %td
              .full-width
                = f.text_field :from_email
          %tr
            %th
              = f.label GiftCertificate.human_attribute_name(:from_phone)
            %td
              .full-width
                = f.text_field :from_phone
          %tr
            %th
            %td
              %hr
              %h4= GiftCertificate.human_attribute_name(:message)
          %tr
            %th
            %td
              .full-width
                = f.text_area :message, :rows => 5
            %tr
              %th
              %td
                %hr
            %tr
              %th
              %td
                .full-width
                  = captcha_block 'Skriv in texten från bilden nedan i nedanstående fält'
          
            %tr
              %th
              %td
                %hr
                  .button-bar
                    = render :partial => '/shared/submit', :locals => { :title => "Köp presentkort för <b>#{number_to_currency(@gift_certificate.coupon_type.value)}</b>", :form => f, :function => 'forms["new_gift_certificate"].submit()' }
                  
          
        = f.hidden_field :coupon_type_id
