<% unless @coupon.nil? %>
  <div class="gift-certificate-canvas">
    <%= render :partial => '/gift_certificates/gift_certificate', :object => @coupon %>
    <p>
    <%= link_to 'Skriv ut',  print_gift_certificate_path(:format => 'pdf')%>
    </p>
  </div>
<hr>
<p>
<%- if @coupon.no_funds?  -%>
<p>
  Inga pengar finns kvar p책 presentkortet
</p>
<%- elsif !@coupon.full_funds?  -%>
<p>
  <b>Presentkortets resterande v채rde 채r:</b> <%=h number_to_currency(@coupon.available_funds) %>
</p>
<%- end -%>

<p>
<h2>Anv채nd ditt presentkort</h2>
<% if @coupon.original_funds ==  Course.price(8) %>
  <% if @coupon.available_funds == Course.price(8) %>
  <%= render :partial => '/courses/course', :collection => Course.active.all, :locals => { :coupon_type => @coupon } %>
  <% elsif @coupon.available_funds > 120 %>
  <% end %>
<% elsif @coupon.available_funds > AppConfig[:dropin] %>
  <%= render :partial => '/sessions/sessions', :object => Session.current.all, :locals => { :booking_proc => proc{|session| return book_coupon_session_path(@coupon, session) } } %>
<% end %>
<% end %>