- unless @coupon.nil?
  - if not @coupon.is_valid?
    %p.flash-error
      Presentkortet 채r fullt utnyttjat
  - else
    %p.flash-notice
      Presentkortets resterande v채rde 채r:
      %strong
        - if @coupon.coupon_type.times
          = @coupon.available_funds
          av totalt #{@coupon.original_funds} #{@coupon.coupon_type.valid_for.constantize.human_name(:count => @coupon.original_funds).downcase}.
        - else
          = number_to_currency(@coupon.available_funds)
  .gift-certificate-canvas
    = render :partial => '/gift_certificates/gift_certificate', :object => @coupon
    %p
      = link_to 'Skriv ut',  print_gift_certificate_path(:format => 'pdf')
  %hr/
  %p
    - if @coupon.is_valid?
      %h2 Anv채nd ditt presentkort
      - if @coupon.valid_for?(:course)
        = render :partial => '/courses/course', :collection => Course.active.asc.all, :locals => { :coupon_type => @coupon }
      - elsif @coupon.valid_for?(:session)
        = render :partial => '/sessions/sessions', :object => Session.current.asc.all, :locals => { :booking_proc => proc{|session| return book_coupon_session_path(@coupon, session) } }
