- unless @coupon.nil?
  - if not @coupon.is_valid?
    %p.flash-error
      Presentkortet är fullt utnyttjat
  - else
    %p.flash-notice
      Presentkortets resterande värde är:
      %strong
        - if @coupon.coupon_type.times
          = @coupon.available_funds
          av totalt #{@coupon.original_funds}.
        - else
          = number_to_currency(@coupon.available_funds)
  .gift-certificate-canvas
    = render :partial => '/gift_certificates/gift_certificate', :object => @coupon
    %p
      = link_to 'Skriv ut',  print_gift_certificate_path(:format => 'pdf')
  %hr/
  %p
    - if @coupon.is_valid?
      - if @coupon.valid_for?(:course) and Course.current.count and Course.current.active.count > 0
        %h2 Använd ditt presentkort till en kurs
        = render :partial => '/courses/course', :collection => Course.current.active.all, :locals => { :coupon_type => @coupon }
      - if @coupon.valid_for?(:session) and Session.current.active.count > 0
        %h2 Använd ditt presentkort till en klass
        = render :partial => '/sessions/sessions', :object => Session.current.active.asc.all, :locals => { :booking_proc => proc{|session| return book_coupon_session_path(@coupon, session) } }