<h1>Editing booking</h1>

<% form_for(@booking, :url => admin_booking_path(@booking)) do |f| %>
  <%= f.error_messages %>

  <p>
    <% if @booking.drop_in? %>
      <%= f.select :booker_id, Session.all.map{|s| ["#{s.name} (#{strip_tags(l(s.starts_at, :format => :short))})", s.id] } %>
    <% else %>
      <%= f.select :booker_id, Course.active.map{|s| ["#{s.name} (#{strip_tags(l(s.starts_at, :format => :short))})", s.id] } %>
    <% end %>
  </p>
  <p>
    Participant<br />
    <%= @booking.participant.name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Destroy', @booking, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Show', @booking %> |
<%= link_to 'Back', bookings_path %>