<% if @booking.booker.is_a? Course %>
<h3>Bokning för kursen <%= @booking.booker.name %></h3>
<% else %>
<h3>Bokning för drop-in tid för klass <%= @booking.booker.course.name %> den <%= l(@booking.booker.starts_at, :format => :short) %></h3>
<% end %>
<% form_for(@booking, :url => @booking.booker.is_a?(Course) ? admin_course_bookings_path(@booking.booker) : admin_session_bookings_path(@booking.booker)) do |f| %>
  <%= f.error_messages %>
  
  <%= f.hidden_field :booker_type %>
  <%= f.hidden_field :booker_id %>
  
  <%= render :partial => '/bookings/form', :object => f %>
  
  <%= f.check_box :free %> Free
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', bookings_path %>