- if @booking.booker.is_a? Course
  %h3
    Bokning för kursen #{@booking.booker.name}
- else
  %h3
    Bokning för drop-in tid för klass #{@booking.booker.course.name} den #{l(@booking.booker.starts_at, :format => :short)}
- form_for(@booking, :url => @booking.booker.is_a?(Course) ? admin_course_bookings_path(@booking.booker) : admin_session_bookings_path(@booking.booker)) do |f|
  = f.error_messages
  = hidden_field_tag :return_to, params[:return_to]
  = f.hidden_field :booker_type
  = f.hidden_field :booker_id
  = render :partial => '/bookings/form', :object => f
  = f.check_box :free
  Free
  \#{hidden_field_tag :return_to_new_booking, 1, :id => 'return_to_new_booking'}
  %p
    = button_to_function 'Create', '                                               |
        document.getElementById("return_to_new_booking").setAttribute("value", 0); |
        forms[0].submit();                                                         |
      '                                                                            |
    = f.submit 'Create and new booking'
= link_to 'Back', bookings_path
