
<p>
  <b>Participant:</b>
  <%= @booking.participant.name %>
</p>

<p>
  <%- if @booking.booker.is_a?(Course) -%>
  Kurs som startar: <%= l(@booking.booker.starts_at, :format => :short) %>
  <%- else -%>
  Klass: <%= l(@booking.booker.starts_at, :format => :short) %>
  <%- end -%>
</p>

<p>
  <b>Token:</b>
  <%= @booking.token %>
</p>


<%= link_to t('labels.edit'), edit_admin_booking_path(@booking) %> |
<%= link_to t('labels.back'), admin_bookings_path %>