<%= form.error_messages %>

<p>
  <%= form.label :to_name %><br />
  <%= form.text_field :to_name %>
</p>
<p>
  <%= form.label :to_email %><br />
  <%= form.text_field :to_email %>
</p>
<p>
  <%= form.label :to_phone %><br />
  <%= form.text_field :to_phone %>
</p>
<p>
  <%= form.label :to_address %><br />
  <%= form.text_field :to_address %>
</p>
<p>
  <%= form.label :from_name %><br />
  <%= form.text_field :from_name %>
</p>
<p>
  <%= form.label :from_email %><br />
  <%= form.text_field :from_email %>
</p>
<p>
  <%= form.label :from_phone %><br />
  <%= form.text_field :from_phone %>
</p>
<p>
  <%= form.label :from_address %><br />
  <%= form.text_field :from_address %>
</p>
<p>
  <%= form.label :gift_certificate_type %><br />
  <%= form.collection_select :coupon_type_id, CouponType.all, :id, :name %>
</p>

<p>
  <%= form.label :message %><br />
  <%= form.text_area :message %>
</p>
