<p>
  <b>To name:</b>
  <%=h @gift_certificate.to_name %>
</p>

<p>
  <b>To email:</b>
  <%=h @gift_certificate.to_email %>
</p>

<p>
  <b>To phone:</b>
  <%=h @gift_certificate.to_phone %>
</p>

<p>
  <b>To address:</b>
  <%=h @gift_certificate.to_address %>
</p>

<p>
  <b>From name:</b>
  <%=h @gift_certificate.from_name %>
</p>

<p>
  <b>From email:</b>
  <%=h @gift_certificate.from_email %>
</p>

<p>
  <b>From phone:</b>
  <%=h @gift_certificate.from_phone %>
</p>

<p>
  <b>From address:</b>
  <%=h @gift_certificate.from_address %>
</p>

<p>
  <b>Message:</b>
  <%=h @gift_certificate.message %>
</p>

<p>
  <b>Coupon type:</b>
  <%=h @gift_certificate.coupon_type %>
</p>


<%= link_to 'Edit', edit_admin_gift_certificate_path(@gift_certificate) %> |
<%= link_to 'Back', admin_gift_certificates_path %>