<p>
  <b>Name:</b>
  <%=h @gift_certificate.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @gift_certificate.description %>
</p>

<p>
  <b>Value:</b>
  <%=h @gift_certificate.value %>
</p>

<p>
  <b>Valid from:</b>
  <%=h @gift_certificate.valid_from %>
</p>

<p>
  <b>Valid to:</b>
  <%=h @gift_certificate.valid_to %>
</p>


<%= link_to 'Edit', edit_admin_gift_certificate_path(@gift_certificate) %> |
<%= link_to 'Back', admin_gift_certificates_path %>