<h1>Editing bankgiro</h1>

<% form_for(@bankgiro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :avinr %><br />
    <%= f.text_field :avinr %>
  </p>
  <p>
    <%= f.label :payment %><br />
    <%= f.text_field :payment %>
  </p>
  <p>
    <%= f.label :gross %><br />
    <%= f.text_field :gross %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bankgiro %> |
<%= link_to 'Back', bankgiros_path %>