<h1>Listing bankgiros</h1>

<table>
  <tr>
    <th>Avinr</th>
    <th>Payment</th>
    <th>Gross</th>
  </tr>

<% @bankgiros.each do |bankgiro| %>
  <tr>
    <td><%= bankgiro.avinr %></td>
    <td><%= bankgiro.payment %></td>
    <td><%= bankgiro.gross %></td>
    <td><%= link_to 'Show', bankgiro %></td>
    <td><%= link_to 'Edit', edit_bankgiro_path(bankgiro) %></td>
    <td><%= link_to 'Destroy', bankgiro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bankgiro', new_bankgiro_path %>