<p>
  <b>Avinr:</b>
  <%=h @bankgiro.avinr %>
</p>

<p>
  <b>Payment:</b>
  <%=h @bankgiro.payment %>
</p>

<p>
  <b>Gross:</b>
  <%=h @bankgiro.gross %>
</p>


<%= link_to 'Edit', edit_bankgiro_path(@bankgiro) %> |
<%= link_to 'Back', bankgiros_path %>