<% content_for :header do %>
  <% javascript_tag do %>
    function bookSession(path){
      document.location.href = path
    }
  <% end %>
<% end %>


<table class="session-list">
  
  <colgroup>
  <col width="1">
  <col width="1">
  <col width="1">
  <col width="1">
  <col width="1000*">
  </colgroup>
<%-   
  past_week = nil 
-%>
<%- sessions.each_with_index do |session, index| -%>
  <%- 
    week = session.starts_at.to_date.cweek.to_i
    new_week = week != past_week
    past_week = week
    end_week = session == sessions.last || week != sessions[index+1].starts_at.to_date.cweek.to_i
  -%>
  <%- if new_week -%>
  <thead>
    <tr>
        <td colspan="5" style="padding-top:30px;border-bottom:1px solid rgb(200,200,200)">Vecka <%= week %></td>
    </tr>
  </thead>
  <%- end -%>
  <%- if new_week -%>
  <tbody class="gradient-back">
  <%- end -%>
    <tr>
        <td nowrap><%= yield(:booking_link) %> <%=link_to session.course.name, session %></td>
        <td nowrap style="padding-left:10px"><%=l session.date, :format => :long_day %></td>
        <td nowrap style="padding-left:10px"><%=l session.starts_at, :format => :time %> - <%=l session.ends_at, :format => :time %></td>
        <td nowrap style="padding-left:10px"><%=l session.starts_at, :format => :time %> - <%=l session.ends_at, :format => :time %></td>
        <%- path_to_booking = gift_certificate ? book_user_gift_certificate_session_path(gift_certificate, session) : book_session_path(session) -%>
        <td nowrap style="padding-left:10px" align="right"><%=  button_to_function "Reservera plats", "bookSession('#{path_to_booking}')"  %></td>
    </tr>
  <%- if end_week -%>
  </tbody>
  <%- end -%>
<%- end -%>
</table>
