- content_for :header do
  :javascript
    function bookSession(path){
    document.location.href = path
    }
%table.session-list
  - past_week = nil
  - sessions.each_with_index do |session, index|
    - week = session.starts_at.to_date.cweek.to_i
    - new_week = week != past_week
    - past_week = week
    - end_week = session == sessions.last || week != sessions[index+1].starts_at.to_date.cweek.to_i
    - if new_week
      %tbody.gradient-back
        %tr{ :class => session.canceled? ? "canceled-session" : '' }
          %td= "Vecka #{week}"
          %td{:nowrap => "", :style => "padding-left:10px"}
            = l(session.date, :format => :long_day)
          %td{:nowrap => "", :style => "padding-left:10px"}
            = l session.starts_at, :format => :time
            – #{l session.ends_at, :format => :time}
          - path_to_booking = (defined?(booking_proc) and booking_proc.is_a?(Proc)) ? booking_proc.call(session) : book_session_path(session)
          %td{:align => "left", :nowrap => "", :style => "padding-left:10px"}
            - if !session.canceled? && !session.expired?
              = link_to "Reservera plats", path_to_booking
              = link_to 'Läs mer...', session, :class => 'read-more'
            - elsif !session.expired?
              = session.comment
        - if session.comment? and !session.canceled?
          %tr
            %td.session-list-comment{:colspan => "3"}= session.comment
