<% unless @booker.expired? %>
<h2>Anmälan till klassen  <%= l(@booker.starts_at, :format => :long) %></h2>


<p>
  Passet är <%= reformat_time(@booker.duration) %> långt och drop-in priset är <%=  number_to_currency(@booker.price) %>.
</p>
<%-
  path_to_booking = !params[:coupon_id].blank? ? book_coupon_session_path : book_session_path
-%>
<% form_for(@booking, :url => path_to_booking) do |f| %>
  <%= base_errors_for(@booking) %>
  <%= f.hidden_field :booker_type %>
  <%= f.hidden_field :booker_id %>
  <%= render :partial => '/bookings/form', :object => f %>
  <%- if params[:coupon_id] -%>
    <%= check_box_tag :pay_with_coupon, 1, true %>
    Jag vill betala med presentkort med referencenummber <strong><%= params[:coupon_id] %></strong>
  <% end %>
  <p class="button-bar">
    <%= link_to_function "Anmäl", 'forms["new_booking"].submit()', :class => 'button button-default' %>
  </p>
<% end %>
<% if @booker.course.next_session and @booker.course.sessions.current.count > 1  %>
<h2>Anmäl dig till hela kursen <strong><%=t("misc.day_names.#{@booker.course.default_session.starts_at.strftime("%A").downcase}", :count => 2) %></strong>
klockan <strong><%=l @booker.course.default_session.starts_at, :format => :time %></strong> till
<strong><%=l @booker.course.default_session.ends_at, :format => :time %></strong></h2>
<p>
  Det går även bra att anmäla sig till hela kursen. I kursen ingår totalt <%= @booker.course.sessions.active.count %> klasser. 
  En kurs kostar <%= number_to_currency(@booker.course.original_price) %>, 
  vilket är <%= number_to_currency(@booker.course.original_price_per_session) %> (<%= @booker.course.original_discount %>%) per klasstillfälle mot att betala vårt drop-in pris på 
  <%=  number_to_currency(@booker.price) %>/klass.
</p>
<% if @booker.course.started? %>
<p>
  Denna kursen har redan börjat och vi har hittills hunnit med <%= @booker.course.sessions.active.expired.count %> klasser. 
  Du får fortfarande ett rabatterat pris vid köp av kursen. Du betalar total <%= number_to_currency(@booker.course.price) %> vilket
  är <%=  number_to_currency(@booker.course.price_per_session) %>  (<%= @booker.course.discount %>%)  per återstående klass.
</p>
<% end %>
<p class="button-bar">
  <%= link_to 'Anmäl dig till kursen', book_course_path(@booker.course), :class => 'button' %>
</p>

<% end %>

<% else %>
Det går inte längre att reservera plats till denna klassen
<% end %>


<%#= link_to 'Tillbaks till klassen', session_path(@booker) %>