<!-- <div class="nava-calendar" id="calendar">
  <%#= generate_calendar(Date.today, []) %>
</div> -->

<div class="sidebar">
  <h3>Priser</h3>
  <dl>
    <dt>Kurser</dt>
    <dd>Se priset för individuella kurser i listan till vänster</dd>
    <dt>Enstaka klasser</dt>
    <dd><%= number_to_currency(Session.price, {:precision => 0}) %></dd>
    <dt>Terminskort</dt>
    <dd><%= number_to_currency(2500, {:precision => 0}) %> (gäller för alla klasser)</dd>
    <dt>Årskort</dt>
    <dd><%= number_to_currency(4600, {:precision => 0}) %> (gäller för alla klasser)</dd>
    <dt>Privatlektioner</dt>
    <dd><%= number_to_currency(500, {:precision => 0}) %> per 60 minuter</dd>
    <dt>Företagsyoga</dt>
    <dd>Maila <%= mail_to AppConfig[:support_mail] %> för mer information, samt offert</dd>
  </dl>
</div>

<h2>Våra kurser</h2>
<p>På Nava Yoga har vi både nybörjar- och fortsättningskurser. För varje enskild kurs, anpassar vi våra klasser
  efter varje individs behov. Vi hjälper dig som är ny att komma igång och att förstå grunderna och dig som
  har yogat tidigare att komma vidare i ditt utövande.</p>

<!-- <p>
  Varje kurs inkluderar <strong>16 tillfällen</strong> och kostar <strong><%= number_to_currency(Course.price(16), {:precision => 0}) %></strong>. 
  Du betalar endast <strong><%=  number_to_currency(Course.price_per_session, {:precision => 0}) %></strong> per tillfälle, jämfört med <%= number_to_currency(Session.price, {:precision => 0}) %>
  om du väljer att betala vid varje enskilt tillfälle.
</p> -->
<% content_for :javascript do %>
  function bookCourse(path){
    document.location.href = path
  }
<% end %>


<table>
  <% unless @planned_courses.blank? %>
  <tr>
    <td style="padding:0"><h3>Kommande kurser</h3></td>
  </tr>
  <% end %>
  <% @planned_courses.each do |course| %>
    <%= render :partial => '/sessions/course', :object => course %>
  <% end %>
  
  <% unless @courses.blank? %>
  <tr>
    <td style="padding:0"><h3>Pågende kurser</h3></td>
  </tr>
  <% end %>
  <% @courses.each do |course| %>
    <%= render :partial => '/sessions/course', :object => course %>
  <% end %>

</table>
<hr>
<!-- <h2>Schema för höstens klasser, 2010</h2> -->
<%= render :partial => 'calendar' %>
<%#= render :partial => 'sessions', :object => @sessions %>