<!-- <div class="nava-calendar" id="calendar">
  <%#= generate_calendar(Date.today, []) %>
</div> -->


<h1>Klasser</h1>

<table class="session-list">

<%   
  past_week = nil 
%>
<% @sessions.each do |session| %>
  <% 
    week = session.starts_at.to_date.cweek.to_i
    new_week = week != past_week
    past_week = week
  %>
  <% if new_week %>
  <tr>
      <td colspan="4" style="padding-top:30px;border-bottom:1px solid rgb(200,200,200)">Vecka <%= week %></td>
  </tr>
  <% end %>
  <tr>
      <td><%=link_to session.course.name, session %></td>
      <td style="padding-left:10px"><%=l session.date, :format => :long %></td>
      <td style="padding-left:10px"><%=l session.starts_at, :format => :time %></td>
      <td style="padding-left:10px"><%=l session.ends_at, :format => :time %></td>
  </tr>
<% end %>
</table>
