<!-- <div class="nava-calendar" id="calendar">
  <%#= generate_calendar(Date.today, []) %>
</div> -->

<div class="sidebar">
  <h3>Priser</h3>
  <dl>
    <dt>Kurser, 16 tillfällen</dt>
    <dd><%= number_to_currency(Course.price(16), {:precision => 0}) %> (90 minuter per tillfälle)</dd>
    <dt>Enstaka klasser</dt>
    <dd><%= number_to_currency(Session.price, {:precision => 0}) %> (90 minuter)</dd>
    <dt>Terminskort</dt>
    <dd><%= number_to_currency(2000, {:precision => 0}) %> (gäller för alla klasser)</dd>
    <dt>Årskort</dt>
    <dd><%= number_to_currency(3500, {:precision => 0}) %> (gäller för alla klasser)</dd>
    <dt>Privatlektioner</dt>
    <dd><%= number_to_currency(500, {:precision => 0}) %> per 60 minuter</dd>
    <dt>Företagsyoga</dt>
    <dd>Maila <%= mail_to AppConfig[:support_mail] %> för mer information, samt offert</dd>
  </dl>
</div>

<h2>Våra kurser</h2>
<p>På Nava Yoga har vi både nybörjar- och fortsättningskurser. För varje enskild kurs, anpassar vi våra klasser
  efter varje individs behov. Vi hjälper dig som är ny att komma igång och att förstå grunderna och dig som
  har yogat tidigare att komma vidare i ditt utövande.</p>

<p>
  Varje kurs inkluderar <strong>16 tillfällen</strong> och kostar <strong><%= number_to_currency(Course.price(16), {:precision => 0}) %></strong> (90 minuter per tillfälle). 
  Du betalar endast <strong><%=  number_to_currency(Course.price_per_session, {:precision => 0}) %></strong> per tillfälle, jämfört med <%= number_to_currency(Session.price, {:precision => 0}) %>
  om du väljer att betala vid varje enskilt tillfälle.
</p>
<% content_for :header do %>
  <% javascript_tag do %>
    function bookCourse(path){
      document.location.href = path
    }
  <% end %>
<% end %>

<table>
<% unless @courses.blank? %>
<tr>
  <td style="padding:0"><h3>Välj en av våra pågende kurser</h3></td>
</tr>
<% end %>
<% @courses.each do |course| %>
<tr>
  <td style="">
    <span style="font-size:16px">
    <strong><%=t("misc.day_names.#{course.next_session.starts_at.strftime("%A").downcase}", :count => 2).titlecase %></strong>
    klockan <strong><%=l course.next_session.starts_at, :format => :time %></strong> till
    <strong><%=l course.next_session.ends_at, :format => :time %></strong> -
    <%- if course.sessions.current.count > 1 -%>
    <%=  link_to "Anmäl dig till kursen", book_course_path(course) %></span>
    <%- else -%>
    <%=  link_to "Anmäl dig till klass", book_session_path(course.next_session) %></span>
    <%- end -%>
    <% unless course.description.blank? %>
    <p>
    <%= course.description %>
    </p>
    <% end %>
    <p><% if course.started? %>
    <span class="course-started">Denna kursen började den <strong><%=l course.starts_at.to_date, :format => :long %></strong>. Vi har hittills hunnit med <%= course.sessions.expired.active.count %> klasser. 
    <%- if course.sessions.current.count > 1 -%>
    Du får fortfarande ett rabatterat pris vid köp av resterande kurs, och du betalar endast <strong><%= number_to_currency(course.price, {:precision => 0}) %></strong> vilket
    är <strong><%=  number_to_currency(course.price_per_session, {:precision => 0}) %></strong>  (<%= course.discount %>%)  per återstående klass.</span>
    <%- else -%>
    Du kan fortfarande anmäla dig till den återstående klassen (<%=l(course.next_session.starts_at, :format => :long) %>) för
    <strong><%=  number_to_currency(course.next_session.price, {:precision => 0}) %></strong>.
    <%- end -%>    
    
    <% else %>
    Första kurstillfället är den <strong><%=l course.starts_at.to_date, :format => :long %></strong>
    <% end %></p>
  </td>
</tr>
<% end %>
<% unless @planned_courses.blank? %>
<tr>
  <td style="padding:0"><h3>Kommande kurser</h3></td>
</tr>
<% end %>
<% @planned_courses.each do |course| %>
<tr>
  <td style="">
    <span style="font-size:16px">
    <strong><%=t("misc.day_names.#{course.next_session.starts_at.strftime("%A").downcase}", :count => 2).titlecase %></strong>
    klockan <strong><%=l course.next_session.starts_at, :format => :time %></strong> till
    <strong><%=l course.next_session.ends_at, :format => :time %></strong> -
    <%=  link_to "Anmäl dig till kursen", book_course_path(course) %></span>
    <% unless course.description.blank? %>
    <p>
    <%= course.description %>
    </p>
    <% end %>
    <p>
    Första kurstillfället är den <strong><%=l course.starts_at.to_date, :format => :long %></strong>
    </p>
  </td>
</tr>
<% end %>

</table>
<hr>
<h2>Schema för höstens klasser, 2010</h2>
<%= render :partial => 'calendar' %>
<%#= render :partial => 'sessions', :object => @sessions %>