<!-- <div class="nava-calendar" id="calendar">
  <%#= generate_calendar(Date.today, []) %>
</div> -->


<h1>Vårens klasser, 2010</h1>

<table class="session-list">
<%-   
  past_week = nil 
-%>
<%- @sessions.each_with_index do |session, index| -%>
  <%- 
    week = session.starts_at.to_date.cweek.to_i
    new_week = week != past_week
    past_week = week
    end_week = session == @sessions.last || week != @sessions[index+1].starts_at.to_date.cweek.to_i
  -%>
  <%- if new_week -%>
  <thead>
    <tr>
        <td colspan="4" style="padding-top:30px;border-bottom:1px solid rgb(200,200,200)">Vecka <%= week %></td>
    </tr>
  </thead>
  <%- end -%>
  <%- if new_week -%>
  <tbody class="gradient-back">
  <%- end -%>
    <tr>
        <td><%=link_to session.course.name, session %></td>
        <td style="padding-left:10px"><%=l session.date, :format => :long %></td>
        <td style="padding-left:10px"><%=l session.starts_at, :format => :time %></td>
        <td style="padding-left:10px"><%=l session.ends_at, :format => :time %></td>
    </tr>
  <%- if end_week -%>
  </tbody>
  <%- end -%>
<%- end -%>
</table>
