.columns.columns-twelve
  .column
    .content
      %h3
        Vi har reserverat en plats åt
        = succeed "," do
          %strong= @payment.item.participant.name
        %br/
        = l @payment.item.booker.starts_at, :format => :day
        klockan #{l @payment.item.booker.starts_at, :format => :time} till
        \#{l @payment.item.booker.ends_at, :format => :time}
      %p
        = link_to t('labels.cancel_booking'), @payment.item, :confirm => t('messages.destroy_confirmation'), :method => :delete
      - if !@payment.item.booker.free? and !@payment.item.paid?
        %hr/
        .message
          Klassen kostar
          %strong= number_to_currency(@payment.item.booker.price, :precision => 0)
          %br/
          Välj ett av nedanstående tre alternativ för att betala.
        %p
        %h3 Betala med presentkort
        Om du har ett presentkort så kan du utnyttja det för att betala för klassen genom att skriva in presentkortets kod i fältet nedan.
        %br/
        - form_for @payment.item.payment do |f|
          %p
            Kod
            \#{text_field_tag :coupon_id, params[:coupon_id], :size => 8}
          = f.submit 'Betala med presentkort'
        %p
        %hr/
        %h3 Betala med kreditkort
        Du kan betala för våra klasser snabbt och säkert med kreditkort via #{link_to_function 'PayPal', 'forms[0].submit()'}.
        = render :partial => "/paypal/button", :locals => {                                                                                                                                                                              |
            :item_id => @payment.token,                                                                                                                                                                                                  |
            :notify_url => url_for(:host => PaypalConfig[:host], :controller => 'bookings', :action => 'paypal_ipn'),                                                                                                                    |
            :return_url => url_for(:host => PaypalConfig[:host], :controller => 'bookings', :action => 'paypal_success', :id => @payment.token),                                                                                         |
            :cancel_url => url_for(:host => PaypalConfig[:host], :controller => 'bookings', :action => 'paypal_cancel', :id => @payment.token),                                                                                          |
            :ammount => @payment.item.booker.price,                                                                                                                                                                                      |
            :item_name => strip_tags("Avgift för klassen #{l @payment.item.booker.starts_at, :format => :day } klockan #{l @payment.item.booker.starts_at, :format => :time} till #{l @payment.item.booker.ends_at, :format => :time}") |
          }                                                                                                                                                                                                                              |
        %p
        %hr/
        %h3 Betala med bankgiro
        Det går även bra att betala till vårt bankgiro
        = succeed "." do
          %strong 5091-8051
        %br/
        Märk inbetalningen
        %strong
          "Ref.nr #{@payment.id}"
      - elsif @payment.type?(:paypal_reciept)
        %p
          Klassavgiften är betald och ditt PayPal referencenummer för din betalning är
          %strong= @payment.reciept.transaction_id
      - elsif @payment.type?(:gift_certificate)
        %p
          Klassavgiften är betald med #{link_to 'presentkort', gift_certificate_path(@payment.reciept)}.
      %p
        Om du har några frågor så maila oss gärna på
        %strong= mail_to AppConfig[:support_mail]
        eller ring oss på
        = succeed "." do
          %strong= AppConfig[:support_phone]
  .column
    .content
      = render :partial => '/sessions/house_rules'
