<% unless @session.nil? %>
<div class="sidebar">
  <dl>
    <dd>Klassens startar klockan <%=l @session.starts_at, :format => :time %>, den <%=l @session.starts_at.to_date, :format => :long %>.</dd>
    <dd>Längd är totalt <%= reformat_time(@session.duration) %>.</dd>
    <dd>Klassen leds av<br> <%= link_to @session.course.instructor.name, @session.course.instructor %>.</dd>
  </dl>
</div>

<h3>
  <%=t("misc.day_names.#{@session.course.next_session.starts_at.strftime("%A").downcase}", :count => 2).titlecase %>  
  klockan <%=l @session.course.next_session.starts_at, :format => :time %> till
  <%=l @session.course.next_session.ends_at, :format => :time %>
</h3>
<p>
<%#= image_tag @session.course.instructor.avatar.url(:thumb) , :style => 'float:left;margin:0 10px 10px 0'%>
<p>Denna klass passar för alla och anpassas
  efter varje individs behov. Vi hjälper dig som är ny att komma igång och att förstå grunderna, och dig som
  har yogat förut, att komma vidare i ditt utövande.</p>
</p>

<p>
  <%= button_to_function 'Reservera plats', "document.location.href = '#{ book_session_path(@session) }'" %>
</p>

<p>
  Det går även utmärkt att anmäla sig till hela kursen. 
  
  Kurs inkluderar <strong><%= @session.course.sessions.count %></strong> tillfällen och kostar <strong><%= number_to_currency(@session.course.original_price) %></strong>. 
  Du betalar endast <strong><%=  number_to_currency(@session.course.original_price_per_session) %></strong> per tillfälle, jämfört med <%= number_to_currency(Session.price) %>
  om du väljer att betala vid varje tillfälle.
  
</p>
<% if !@session.course.started? %>
<p>
  Kursen började den <strong><%=l @session.course.starts_at.to_date, :format => :long %></strong>. Vi har hittills hunnit med <%= @session.course.sessions.expired.count %> klasser. 
  Du får ett rabatterat pris vid köp av resterande kurs, och du betalar endast <strong><%= number_to_currency(@session.course.price) %></strong> vilket
  är <strong><%=  number_to_currency(@session.course.price_per_session) %></strong>  (<%= @session.course.discount %>%)  per återstående klass.</span>
</p>
<% end %>

<p>
  <%= button_to_function 'Anmäl dig till kursen', "document.location.href = '#{ book_course_path(@session.course) }'" %>
</p>


<%#= link_to 'Hela vårens schema', sessions_path %>
<% end %>