<p>
  <b>Name:</b>
  <%= @gift_certificate_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gift_certificate_type.description %>
</p>

<p>
  <b>Value:</b>
  <%= @gift_certificate_type.value %>
</p>

<p>
  <b>Valid from:</b>
  <%= @gift_certificate_type.valid_from %>
</p>

<p>
  <b>Valid to:</b>
  <%= @gift_certificate_type.valid_to %>
</p>

<p>
  <b>Valid for:</b>
  <%= @gift_certificate_type.valid_for %>
</p>


<%= link_to 'Edit', edit_admin_gift_certificate_type_path(@gift_certificate_type) %> |
<%= link_to 'Back', admin_gift_certificate_types_path %>