%h1 Editing session
- form_for(@session, :url => admin_session_path(@session)) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  %p
    = f.submit 'Update'
= link_to 'Show', @session
|
\#{link_to 'Back', sessions_path}
