<h1>Klass</h1>

<p>
  <%= l(@session.starts_at, :format => :long) %>
</p>

<p>
  <b>Kursdeltagare</b><br>
  <%- @session.course.bookings.each do |booking| -%>
  <%= h(booking.participant.name) %>,
  <%= mail_to(booking.participant.email) %>,
  <%= h(booking.participant.phone) %><br>
  <%- end -%>
</p>

<p>
  <b>Drop-in</b><br>
  <%- @session.bookings.each do |booking| -%>
  <%= h(booking.participant.name) %>,
  <%= mail_to(booking.participant.email) %>,
  <%= h(booking.participant.phone) %><br>
  <%- end -%>
</p>




<%= link_to 'Edit', edit_admin_session_path(@session) %> |
<%= link_to 'Back', admin_course_path(@session.course) %>