<h1>Klass</h1>

<p>
  <%= l(@session.starts_at, :format => :long) %>
</p>

<table class="session-list">
  <tr>
    <th>Namn</th>
    <th>E-mail</th>
    <th>Telefon</th>
    <th>Betalt</th>
    <th>N채rvaro</th>
    <th>Kommentar</th>
  </tr>
  <tr>
    <th colspan="6">Kursdeltagare</th>
  </tr>
<%- @session.course.bookings.each do |booking| -%>
  <tr>
    <td><%= link_to (booking.participant.name), polymorphic_path([:admin, booking]) %></td>
    <td><%= mail_to(booking.participant.email) %></td>
    <td><%= h(booking.participant.phone) %></td>
    <td><%= booking.paid? ? "X" : "-" %></td>
    <td><%= @session.attending?(booking.participant) ? "X" : "-" %></td>
    <td class="comment">&nbsp;</td>
  </tr>
<%- end -%>
  <tr>
    <th colspan="6">Drop-in</th>
  </tr>
<%- @session.bookings.each do |booking| -%>
  <tr>
    <td><%= link_to (booking.participant.name), polymorphic_path([:admin, booking]) %></td>
    <td><%= mail_to(booking.participant.email) %></td>
    <td><%= h(booking.participant.phone) %></td>
    <td><%= booking.paid? ? "X" : "-" %></td>
    <td><%= @session.attending?(booking.participant) ? "X" : "-" %></td>
    <td>&nbsp;</td>
  </tr>
<%- end -%>
</table>




<div class="admin-navigation">
<%= @session.previous(false) ? link_to('Tidigare', admin_session_path(@session.previous(false))) : 'Tidigare' %> |
<%= @session.next(false) ? link_to('N채sta', admin_session_path(@session.next(false))) : 'N채sta' %> |
<%= link_to "Print", admin_session_path(@session, :print => true), :target => :new %> |
<%= link_to 'Edit', edit_admin_session_path(@session) %> |
<%= link_to 'N채rvaro', admin_session_attendants_path(@session) %> |
<%= link_to 'Bokningar', admin_session_bookings_path(@session) %> |
<%= link_to 'Back', admin_course_path(@session.course) %>
</div>