<%= form.error_messages %>
<%= hidden_field_tag :class_type_name, form.object.class.name.tableize.singularize %>

<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description, :rows => 10 %>
</p>
<p>
  <%= form.label :type %><br />
  <%= form.select :type, options_for_select([%w{Kurs Course}, %w{Workshop Workshop}], :selected => form.object.type) %>
</p>

<p>
  <%= form.label :comment %><br />
  <%= form.text_area :comment, :rows => 4 %>
</p>
<p>
  <%= form.label :instructor %><br />
  <%= form.select :instructor_id, Instructor.all.map{|i| [i.name, i.id]}, :selected => form.object.instructor.id %>
</p>
<p>
  <%= form.label :level %><br />
  <%= form.text_field :level %>
</p>
<p>
  <%= form.label :session_price %><br />
  <%= form.text_field :session_price %>
</p>
<p>
  <%= form.check_box :status %>
  <%= form.label :status %>
</p>

<div id="session">
  <%= render :partial => 'sessions', :object => form %>
</div>
<%= add_session_link 'New session', form %>

