%h1= @course.name
%p
  = @course.description
%p
  Kursen passar för #{@course.level.downcase} nivåer
%p
  Antal kurstillfällen är #{@course.sessions.active.count}
- unless @course.starts_at.nil? or @course.ends_at.nil?
  %p
    Första kurstillfället är
    %strong= l(@course.starts_at, :format => :day)
    och sista är
    %strong= l(@course.ends_at, :format => :day)
  %p
    Klasserna startar klockan #{l(@course.sessions.active.first.starts_at, :format => :time)} tills klockan #{l(@course.sessions.active.first.ends_at, :format => :time)}
%h3 Tillfällen
- @course.sessions.asc.each do |session|
  - haml_tag(session.canceled? ? :s : :span) do
    = link_to l(session.starts_at, :format => :long), admin_session_path(session)
    (#{l(session.duration, :format => :time)})
  %br/
= link_to 'Edit', edit_admin_course_type_path(@course)
|
= link_to 'Bokningar', admin_course_type_bookings_path(@course)
|
= link_to 'Clone', clone_admin_course_type_path(@course)
|
= link_to 'Kurser', admin_course_types_path
