<h1>Våra ledare</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Bio</th>
    <th>Description</th>
  </tr>

<% @instructors.each do |instructor| %>
  <tr>
    <td><%=h instructor.name %></td>
    <td><%=h instructor.email %></td>
    <td><%=h instructor.phone %></td>
    <td><%=h instructor.bio %></td>
    <td><%=h instructor.description %></td>
    <td><%= link_to 'Show', instructor %></td>
    <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
    <td><%= link_to 'Destroy', instructor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />