.columns.columns-twentyfour
  .column
    .content
      %h2= @instructor.name
.columns.columns-eighteen-six
  .column
    .content
      = @instructor.bio.gsub(/\n/,'<br>')
      %p
        Du n책r #{h @instructor.first_name} b채st p책
        %strong= mail_to @instructor.email
        eller p책 telefon
        = succeed "." do
          %strong= @instructor.phone
  .column
    .content
      = image_tag @instructor.avatar.url(:medium)
