<h2><%=h @instructor.name %></h2>
<%= image_tag @instructor.avatar.url(:medium) %>
<p>
  <%=h @instructor.bio %>
</p>

<p>
  Du n책r <%= h @instructor.first_name %> b채st p책 <strong><%=mail_to @instructor.email %></strong> eller p책 telefon <strong><%=h @instructor.phone %></strong>.
</p>

