<h2><%= @instructor.name %></h2>
<div style="position:relative; margin-right:320px; font:14px/20px georgia">
  <%= image_tag @instructor.avatar.url(:medium), :style => 'position:absolute; right:-320px' %>
  <%= @instructor.bio %>
  <p>
    Du n책r <%= h @instructor.first_name %> b채st p책 <strong><%=mail_to @instructor.email %></strong> eller p책 telefon <strong><%= @instructor.phone %></strong>.
  </p>
</div>