= hidden_field_tag :coupon, @coupon.to_param
.columns.three-columns
  .column
    = form.label :name, t('activerecord.attributes.booking.name')
    = form.text_field :name
  .column
    = form.label :email, t('activerecord.attributes.booking.email')
    = form.text_field :email
  .column
    = form.label :phone, t('activerecord.attributes.booking.phone')
    = form.text_field :phone
