<%= form.error_messages %>
  
<p>
  <%= form.label :name, t('activerecord.attributes.booking.name') %><br />
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :email, t('activerecord.attributes.booking.email') %><br />
  <%= form.text_field :email %>
</p>

<p>
  <%= form.label :phone, t('activerecord.attributes.booking.phone') %><br />
  <%= form.text_field :phone %>
</p>
