= hidden_field_tag :coupon, @coupon.to_param
%table.form-listing
  %colgroup
    %col{ :width => '80' }
    %col{ :width => '*' }
  %tr
    %th
      = form.label :name, t('activerecord.attributes.booking.name')
    %td
      .full-width
        = form.text_field :name
  %tr
    %th
      = form.label :email, t('activerecord.attributes.booking.email')
    %td
      .full-width
        = form.text_field :email
  %tr
    %th
      = form.label :phone, t('activerecord.attributes.booking.phone')
    %td
      .full-width
        = form.text_field :phone
