<%= hidden_field_tag :coupon, @coupon.to_param %>
<div class="columns three-columns">
<div class="column">
  <%= form.label :name, t('activerecord.attributes.booking.name') %>
  <%= form.text_field :name %>
</div>

<div class="column">
  <%= form.label :email, t('activerecord.attributes.booking.email') %>
  <%= form.text_field :email %>
</div>

<div class="column">
  <%= form.label :phone, t('activerecord.attributes.booking.phone') %>
  <%= form.text_field :phone %>
</div>
</div>