<h1>Bokningar</h1>
<p>Totalt anmälda: <%= @bookings.size %></p>
<table>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.participant.name %></td>
    <td><%= booking.participant.email %></td>
    <td><%= booking.participant.phone %></td>
    <!-- <td><%= booking.drop_in? %></td> -->
    <td><%= link_to 'Ta bort', booking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny bokning', new_booking_path %>