- booking_name = 'session[bookings_attributes][0]'
- participant_name = "#{booking_name}[participant_attributes]"
- payment_name = "#{booking_name}[payment_attributes][reciept_attributes]"
- radio_name = "#{payment_name}[type]"
- id_prefix = "participand_index_0_"
%li{:style => "list-style:none"}
  = check_box_tag "#{participant_name}[attendants_attributes][0][status]", 1, 0
  = hidden_field_tag "#{participant_name}[attendants_attributes][0][session_id]", session.id
  = text_field_tag "#{participant_name}[name]"
  = select_tag("#{radio_name}", options_for_select([['Obetalt', 'none'],['Kontant', 'cash'],['Kuppong', 'coupon'],['Gratis', 'free']]), :onchange => 'participant_payment_options(this)')
  = link_to_function "Ta bort", "$(this).closest('li').remove()"
  |
  \#{link_to_function 'Kommentar', "$('##{id_prefix}_comment').toggle()"}
  %br/
  %p{:id => "#{id_prefix}_comment", :style => "display:none"}
    = text_area_tag "#{participant_name}[attendants_attributes][0][comment]", '', :rows => 4
  %div{:style => "margin:5px 0 0 20px;"}
    %span{:id => "#{radio_name}_options"}
      %span{:id => "#{radio_name}_cash", :style => "display:none"}
        = text_field_tag "#{payment_name}[cash][gross]", nil, :placeholder => 'Värde'
      %span{:id => "#{radio_name}_coupon", :style => "display:none"}
        = select_tag "#{payment_name}[coupon][id]", options_from_collection_for_select(Coupon.active, 'id', 'to_s')
        = hidden_field_tag "#{payment_name}[coupon][value]", session.price
      %span{:id => "#{radio_name}_free", :style => "display:none"}
        = text_area_tag "#{payment_name}[free][note]", '', :rows => 5, :cols => 40, :placeholder => 'Anledning till gratis'
  = hidden_field_tag "#{booking_name}[disable_validation]", true
