%h1 N채rvaro
%p= l(@session.starts_at, :format => :long)
- include_javascript 'jquery/plugins/autocomplete/jquery.autocomplete.pack.js'
- include_stylesheet '/javascripts/jquery/plugins/autocomplete/jquery.autocomplete.css'
- content_for :header do
  :javascript
    var autocomplete = [#{Participant.all(:select => 'distinct(participants.name)').map{|pa| "'#{pa.name}'" }.reverse.join(',')}];
- form_for(Session.new, :url => admin_session_attendants_path(@session)) do |f|
  = f.error_messages
  %ul#participants
    - f.fields_for :attendants, @session.attendants do |a|
      %li{:style => "list-style:none"}
        = a.hidden_field :participant_id
        - a_id = "attendant_#{a.object.participant.id}"
        = a.check_box :status, :id => a_id
        = a.label nil, a.object.participant.name, :for => a_id
        - p_id = "participant_#{a.object.participant.id}"
        = link_to_function "Ta bort", "(function(li){       |
            $(li).hide().find(':checkbox').each(function(){ |
              $(this).val('_delete')[0].checked = true      |
            })                                              |
          })($(this).parent('li')); "                       |
        |
        \#{link_to_function 'Kommentar', "$('##{p_id}').toggle()"}
        %br/
        %p{:id => p_id, :style => "display:#{a.object.comment.blank? ? 'none' : 'block'}"}
          = a.text_area :comment, :rows => 4
  %p
    = add_participant_link 'L채gg till bokning', f, @session
  %p
    = f.submit 'Spara'
= @session.previous(false) ? link_to('Tidigare', admin_session_attendants_path(@session.previous(false))) : 'Tidigare'
|
= @session.next(false) ? link_to('N채sta', admin_session_attendants_path(@session.next(false))) : 'N채sta'
|
= link_to 'Klass', admin_session_path(@session)
|
= link_to 'Klasser', admin_sessions_path
|
= link_to 'Ny bokning', new_admin_session_booking_path(@session, :return_to => CGI.escape(admin_session_attendants_path(@session)))
