<h1>N채rvaro</h1>
<p><%= l(@session.starts_at, :format => :long) %></p>
<p><%= params[:action] %></p>

<% include_javascript 'jquery/plugins/autocomplete/jquery.autocomplete.pack.js' %>
<% include_stylesheet '/javascripts/jquery/plugins/autocomplete/jquery.autocomplete.css' %>
<% content_for :javascript do %>
  var autocomplete = [<%= Participant.all(:select => 'distinct(participants.name)').map{|pa| "'#{pa.name}'" }.reverse.join(',') %>];  
<% end %>

<% form_for(@session, :url => admin_attendant_path(@session)) do |f| %>
  <%= f.error_messages %>
  <ul id="participants">
  <% f.fields_for :participants do |pf| %>
  <% participant = pf.object %>
  <% if participant.dropin? %>
    <%= render(:partial => '/admin/attendants/new_attendant', :locals => { :session => @session, :participant => participant, :index => @index }) %>
  <% else %>
    <li style="list-style:none">
    <%= pf.hidden_field :id %>
    <% a_id = "attendant_#{participant.id}" %>
    <%= pf.check_box :status, :id => a_id   %>
    <%= pf.label nil, participant.name, :for => a_id %>
    <% p_id = "participant_#{participant.id}" %>
    <%= link_to_function 'Kommentar', "$('##{p_id}').toggle()" %>
    <br />
    <p style="display:<%= participant.comment.blank? ? 'none' : 'block' %>" id="<%= p_id %>">
    <%= pf.text_area :comment, :rows => 4 %>
    </p>
    
    </li>
  <% end %>
  <% end %>
  </ul>
  <p>
  <%= add_participant_link 'L채gg till bokning', f, @session, @index %>
  </p>
  
  <p>
    <%= f.submit 'Spara' %>
  </p>
<% end %>
<%= @session.previous(false) ? link_to('Tidigare', admin_attendants_path(@session.previous(false))) : 'Tidigare' %> |
<%= @session.next(false) ? link_to('N채sta', admin_attendants_path(@session.next(false))) : 'N채sta' %> |
<%= link_to 'Klass', admin_session_path(@session) %> |
<%= link_to 'Klasser', admin_sessions_path %> |
