<h1>Deltagare</h1>
<% form_for :attendants, :url => search_admin_attendants_path do |f| %>
Namn: <%= text_field_tag :name, params[:name] %><br>
Endast närvarande: <%= check_box_tag :only_attending, nil,  params[:only_attending]=='on' %><br>
	<%= submit_tag "Search" %>		
<% end %>

<p>
 Antal: <%= @attendants.size %>  
</p>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Session</th>
  </tr>

<% @attendants.each do |attendant| %>
  <tr>
    <td><%= attendant.attending? ? 'X' : '' %></td>
    <td><%=h attendant.participant.name %></td>
    <td><%=h attendant.participant.email %></td>
    <td><%=h attendant.participant.phone %></td>
    <td><%= link_to l(attendant.session.starts_at, :format => :short), admin_session_path(attendant.session) %></td>
    <td><%= link_to 'Show', admin_participant_path(attendant.participant) %></td>
    <td><%= link_to 'Edit', edit_admin_participant_path(attendant.participant) %></td>
  </tr>
<% end %>
</table>

<br />
