- content_for :header do
  %script{ :type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false&language=sv-SE" }
  %script{ :type => "text/javascript", :src => "http://widgets.twimg.com/j/2/widget.js" }
  :javascript
    var tag = document.createElement('script');
    tag.src = "http://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    
    var player;
    function onYouTubePlayerAPIReady() {
      player = new YT.Player('player', {
        height: '510',
        width: '853',
        videoId: 'bG1i8rc4WmQ',
        playerVars:{
          controls:0
        },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }
    
    function onPlayerReady(event) {
      event.target.setVolume(30);
    }
    
    var done = false;
    function onPlayerStateChange(event) {
      //if (event.data == YT.PlayerState.PLAYING && !done) {
      //  setTimeout(stopVideo, 6000);
      //  done = true;
      //}
    }
    
    function stopVideo() {
      player.stopVideo();
    }
    
    
    function youTubeInNewWindow(){
      window.location = "http://www.youtube.com/watch?v=bG1i8rc4WmQ";
    }
      
    function initialize() {
      $("#video_placeholder").overlay({
        mask: {
      		color: '#000',
      		loadSpeed: 200,
      		opacity: 0.7,
      		zIndex:100
      	},
      	closeOnClick: false,
      	onBeforeLoad: function(){
      	  if(player.playVideo){
      		  player.playVideo();
      	  }else{
      	    youTubeInNewWindow();
      	  }
    		},
    		onClose: function(){
    		  player.stopVideo();
    		}
      });
      
    }
    window.onload = initialize

- content_for :body do
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1&appId=26369706965";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
- content_for :banner do
  .columns.columns-twentyfour
    .column
      .content
        .headline
          %h2 
            Anmäl dig till en av vårens introduktionskurser
  .columns.columns-twelve
    .column
      .content.intro
        :markdown
          ##### Introduktion för nybörjare
          Innan vårens kurser startar håller vi en tvåtimmarskurs för dig som är nyfiken på yoga. Här blir du introducerad till **Ashtanga yogans** grunder, så som andningsteknik, rörelser, positioner och yogans filosofi.
          
          Kursen hålls lördagen den **21:e januari mellan 14:00 och 16:00**
          och kostar **#{number_to_currency(350, :precision => 0)}**.        

        %p{:style => 'padding-top:10px'}
          .signup
            = link_to('Läs mer eller anmäl dig >>', book_workshop_path(@introduction_course))

  
    .column.column-last
      .content.intro
        :markdown
          ##### Introduktion till Mysore
          Denna kurs är för dig som vill göra yogan helt i din egen takt eller som vill få en grundlig genomgång inför vårens kurser.
          
          Kursen hålls fredagen den **20:e januari, 18:30-20:30** samt lördagen och söndagen den **21:e** och **22:e januari** mellan **09:30** och **11:30**.
          Kursen kostar **#{number_to_currency(550, :precision => 0)}**.        
  
        %p{:style => 'padding-top:10px'}
          .signup
            = link_to('Läs mer eller anmäl dig >>', book_workshop_path(@mysore_course))
        
.columns.columns-eighteen-six
  .column
    .content
      :markdown
        ### Nu kan du anmäla dig till vårens kurser
        Vecka 4 börjar vårens kurser i Ashtanga Yoga, en fysisk yoga för dig som vill kombinera fysisk träning, balans, andning och mental avslappning.
  
    .columns-six{ :style => 'margin-top:-12px;' }
      .column
        .content
          :markdown
            * **Måndagar** 17:00 - 18:00  
            Senior- och nybörjaryoga
            * **Måndagar** 18:30 - 20:00  
            Mixad nivå (fortsättning och nybörjare)

      .column
        .content
          :markdown
            * **Fredagar** 7:00 - 8:30  
            Mixad nivå (fortsättning och nybörjare)
            * **Lördagar** 9:00 - 11:15  
            Mysore (fortsättning)

      .column.column-last
        .content
          %ul
            %li
              %strong Lördagar
              11:30 - 12:45
              %br
              Nybörjaryoga
              %br
              %br
            %li
              .button-link
                = link_to('Anmäl dig till en kurs', sessions_path)

    .column-break
  
    .columns-nine
      .column
        .content
          %hr
          .fb-like(data-href="http://www.facebook.com/pages/Nava-Yoga/127411713956193" data-send="false" data-width="310" data-show-faces="true" data-font="lucida grande")
          %hr
          :markdown
            ### Ge någon lite yoga
            Överraska någon med ett presentkort.
            Du skriver enkelt ut presentkortet direkt på din skrivare.

          %ul
            = list_of(@gift_certificate_types) do |gift_certificate|
              = link_to("#{gift_certificate.title} (#{number_to_currency(gift_certificate.value, :precision => 0)})", new_gift_certificate_path(:coupon_type_id => gift_certificate.id))
          
      .column.column-last
        .content{:style => 'padding-top:12px'}
          :javascript
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 3,
              interval: 30000,
              width: 'auto',
              height: 200,
              theme: {
                shell: {
                  background: '#d9d9d9',
                  color: '#ffffff'
                },
                tweets: {
                  background: '#ffffff',
                  color: '#333333',
                  links: '#30709e'
                }
              },
              features: {
                scrollbar: true,
                loop: false,
                live: false,
                behavior: 'all'
              }
            }).render().setUser('NavaYogaStudio').start();
          

  .column.column-last
    .content
      .video-play-button(rel="#video_popup" id="video_placeholder")
        %img(src="#{asset_path('video_210.jpg')}" width='210' height='135')
        %a &nbsp;
        
      %p
        :markdown
          Yoga har gett mig ökad **styrka**, **balans**, **koncentrations-förmåga**, **lugn** och **energi**. 
          Jag började utbilda mig till yoga-instruktör eftersom jag ville skapa en plats där vi som gillar yoga kunde yoga tillsammans, 
          men också för att kunna föra vidare och lära ut denna träningsform.
          
          #{link_to 'Jonas Höglund', instructor_path(@jonas)}   
          Instruktör Nava Yoga-studio
            
- content_for :popup do
  #video_popup.popup
    #player  
