<p>
  <%= form.file_field :avatar %>
</p>
<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :email %><br />
  <%= form.text_field :email %>
</p>
<p>
  <%= form.label :phone %><br />
  <%= form.text_field :phone %>
</p>
<p>
  <%= form.label :bio %><br />
  <%= form.text_area :bio %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description %>
</p>
