<h1>Instruktörer</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Bio</th>
    <th>Description</th>
  </tr>

<% @instructors.each do |instructor| %>
  <tr>
    <td><%= instructor.name %></td>
    <td><%= instructor.email %></td>
    <td><%= instructor.phone %></td>
    <td><%= instructor.bio %></td>
    <td><%= instructor.description %></td>
    <td><%= link_to 'Show', admin_instructor_path(instructor) %></td>
    <td><%= link_to 'Edit', edit_admin_instructor_path(instructor) %></td>
    <td><%= link_to 'Destroy', admin_instructor_path(instructor), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New instructor', new_admin_instructor_path %>