<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :email %><br />
  <%= form.text_field :email %>
</p>
<p>
  <%= form.label :note %><br />
  <%= form.text_area :note, :rows => 5 %>
</p>
<p>
  <%= form.label :meta %><br />
  <%= form.text_area :meta, :rows => 5 %>
</p>
<p>
  <%= radio_button_tag :payment_type, 'bg', form.object.type?(:bankgiro) %> Bankgiro<br>
  <%= label_tag 'Bankgiro avinummer' %><br />
  <%= text_field_tag :avinr, form.object.type?(:bankgiro) ? form.object.reciept.avinr : nil %>
</p>
<p>
  <%= label_tag 'Bankgiro inbetald summa' %><br />
  <%= text_field_tag :gross, form.object.type?(:bankgiro) ? form.object.reciept.gross : nil %>
</p>
<p>
  <%= radio_button_tag :payment_type, 'cash', form.object.type?(:cash) %> Kontant<br>
  <%= label_tag 'Kontant inbetald summa' %><br />
  <%= text_field_tag :cash, form.object.type?(:cash) ? form.object.reciept.gross : nil %>
</p>

<p>
  <%= radio_button_tag :payment_type, 'free', form.object.type?(:free) %> Gratis<br>
  <%= text_area_tag :free_note, form.object.type?(:free) ? form.object.reciept.note : '', :rows => 5, :cols => 40 %>
</p>

<p>
  <%= radio_button_tag :payment_type, 'none', !form.object.paid? %> Obetald<br>
</p>

<p>
  <%= check_box_tag :notify_by_mail %> Skicka kvittens mail<br>
</p>

