<h1>Editing payment for <%= link_to 'Booking', polymorphic_path(@payment) %></h1>

<% form_for(@payment, :url => admin_payment_path(@payment)) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :object => f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_payment_path(@payment) %> |
<%= link_to 'Back', admin_payments_path %>