%h1 Bankgiro inbetalningar
- form_tag multiple_bg_admin_payments_path do
  - ((params[:size] || 10).to_i).times do |i|
    %p
      Ref nr:
      = text_field_tag "items[#{i}][id]", '', :style => 'width:100px'
      &nbsp;&nbsp;&nbsp;
      Bankgironr:
      = text_field_tag "items[#{i}][avinr]", '', :style => 'width:200px'
      &nbsp;&nbsp;&nbsp;
      Ammount:
      = text_field_tag "items[#{i}][gross]", '', :style => 'width:200px'
  = submit_tag "Pay"
  