<p>
  <b>Name:</b>
  <%=h @payment.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @payment.email %>
</p>

<p>
  <b>Note:</b>
  <%=h @payment.note %>
</p>

<p>
  <b>Meta:</b>
  <%=h @payment.meta %>
</p>

<p>
  <%= link_to 'Booking', polymorphic_path(@payment) %>
</p>


<%= link_to 'Edit', edit_admin_payment_path(@payment) %> |
<%= link_to 'Back', admin_payments_path %>