<h1>Listing attendants</h1>

<table>
  <tr>
    <th>Participant</th>
    <th>Session</th>
    <th>Status</th>
    <th>Comment</th>
  </tr>

<% @attendants.each do |attendant| %>
  <tr>
    <td><%=h attendant.participant %></td>
    <td><%=h attendant.session %></td>
    <td><%=h attendant.status %></td>
    <td><%=h attendant.comment %></td>
    <td><%= link_to 'Show', attendant %></td>
    <td><%= link_to 'Edit', edit_attendant_path(attendant) %></td>
    <td><%= link_to 'Destroy', attendant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attendant', new_attendant_path %>