<p>
  <b>Participant:</b>
  <%=h @attendant.participant %>
</p>

<p>
  <b>Session:</b>
  <%=h @attendant.session %>
</p>

<p>
  <b>Status:</b>
  <%=h @attendant.status %>
</p>

<p>
  <b>Comment:</b>
  <%=h @attendant.comment %>
</p>


<%= link_to 'Edit', edit_attendant_path(@attendant) %> |
<%= link_to 'Back', attendants_path %>