<div class="gift-certificate-card">
  <p>
    <h2><%=h gift_certificate.gift_certificate.title %></h2>
    <%=h gift_certificate.gift_certificate.description %>
  </p>
  <p>
    <b>Presentkort för:</b>
    <%=h gift_certificate.to_name %>
  </p>

  <p>
    <b>Från:</b>
    <%=h gift_certificate.from_name %>
  </p>

  <p>
    <b>Presentkortets värde:</b> <%=h number_to_currency(gift_certificate.gift_certificate.value) %>
  </p>
  <%- unless gift_certificate.message.blank? -%>
  <p>
    <b>Personligt medelande:</b> <%=h gift_certificate.message %>
  </p>
  <%- end -%>

</div>
