<h1>Deltagare</h1>
<% form_for :participant, :url => search_admin_participants_path do |f| %>
	Namn: <%= text_field_tag :name, params[:name] %><br>
	<%= submit_tag "Search" %>		
<% end %>

<p>
 Antal: <%= @participants.size %>  
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%=h participant.name %></td>
    <td><%=h participant.email %></td>
    <td><%=h participant.phone %></td>
    <td><%= link_to 'Show', admin_participant_path(participant) %></td>
    <td><%= link_to 'Edit', edit_admin_participant_path(participant) %></td>
  </tr>
<% end %>
</table>

<br />
