%h1 New participant
- form_for(@participant) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :phone
    %br/
    = f.text_field :phone
  %p
    = f.submit 'Create'
= link_to 'Back', participants_path
