<h1>Deltagare</h1>

<p>
  <b>Name:</b>
  <%=h @participant.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @participant.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @participant.phone %>
</p>

<p>
  <b>Bookings:</b>
  <% @participant.bookings.each do |booking| %>
    <br><%= link_to 'Booking', polymorphic_path(booking) %>
  <% end %>
</p>



<%= link_to 'Edit', edit_admin_participant_path(@participant) %> |
<%= link_to 'Back', admin_participants_path %>