<% content_for :title do %>
  Anmälan till kursen <%= @booker.name %>
<% end %>
<% if @booker.next_session %>
<h2>Kursanmälan till <strong><%=t("misc.day_names.#{@booker.default_session.starts_at.strftime("%A").downcase}", :count => 2) %></strong>
klockan <strong><%=l @booker.default_session.starts_at, :format => :time %></strong> till
<strong><%=l @booker.default_session.ends_at, :format => :time %></strong></h2>
<% end %>
<p><%= @booker.description %></p>
<p>
  Nästa klasstillfälle är <%= l(@booking.booker.next_session.starts_at, :format => :long) %>
</p>

<%- unless @booking.booker.free? -%>
<p>
  I kursen ingår totalt <%= @booker.sessions.active.count %> klasser. 
  Kursen kostar <strong><%= number_to_currency(@booker.original_price, :precision => 0) %></strong>, 
  vilket är <%= number_to_currency(@booker.original_price_per_session, :precision => 0) %> (<%= @booker.original_discount %>%) per klasstillfälle mot att betala vårt drop-in pris på 
  <%=  number_to_currency(Course.dropin_price, :precision => 0) %> per klass.
</p>
<% if @booker.started? %>
<p>
  Denna kurs har redan börjat och vi har hittills hunnit med <%= @booker.sessions.active.expired.count %> klasser. 
  <%- if @booker.remaining_sessions? -%>
  Du får ett rabatterat pris vid köp av kursen och betalar totalt <%= number_to_currency(@booker.price, :precision => 0) %> vilket
  är <%=  number_to_currency(@booker.price_per_session, :precision => 0) %>  (<%= @booker.discount %>%)  per återstående klass.
  <%- else -%>
  Du kan fortfarande anmäla dig till den återstående klassen (<%=l(@booker.next_session.starts_at, :format => :long) %>) för
  är <strong><%=  number_to_currency(@booker.next_session.price, :precision => 0) %></strong>.
  <%- end -%>
</p>
<% end %>
<%- end -%>

<%- if @booker.comment? -%>
<p class="important-notice"><%= @booker.comment %></p>
<%- end -%>

<hr>

<%= base_errors_for(@booking) %>

<% form_for(@booking, :url => (@coupon ? book_gift_certificate_course_path : book_course_path)) do |f| %>
  <%= f.hidden_field :booker_type %>
  <%= f.hidden_field :booker_id %>
  
  <%= render :partial => '/bookings/form', :object => f %>
  <%- if @coupon -%>
    <p><%= check_box_tag :coupon_id, @coupon.token, true %>
    Jag vill betala med presentkort med referencenummber <strong><%= @coupon.token %></strong></p>
  <% end %>
  
  <p class="button-bar">
    <%= link_to_function "Anmäl", 'forms["new_booking"].submit()', :class => 'button button-default' %>
  </p>
  
  <!-- <p>
    <%= f.submit 'Anmäl' %>
  </p> -->
<% end %>

<h2>Kurstillfällen</h2>
<%= render :partial => 'sessions', :object => @booker.sessions.asc %>

<%#= link_to 'Tillbaks till kursen', course_path(@booker) %>