<div class="sidebar">
  <%= render :partial => '/sessions/house_rules' %>
</div>

<div class="reciept">
  
  <h2>Kursanmälan till <strong><%=t("misc.day_names.#{@booking.booker.next_session.starts_at.strftime("%A").downcase}", :count => 2) %></strong>
  klockan <strong><%=l @booking.booker.next_session.starts_at, :format => :time %></strong> till
  <strong><%=l @booking.booker.next_session.ends_at, :format => :time %></strong></h2>

  <p>
    Anmälan är personlig för <strong><%=h @booking.participant.name %></strong>. Nästa klasstillfälle är <%= l(@booking.booker.starts_at, :format => :long) %>
  </p>

  <%- if !@booking.paid? -%>
  <hr>
    <div class="message" style="width:500px">
      Kursavgiften på <strong><%= number_to_currency(@booking.booker.price) %></strong> ska vara betalde senast <strong>1 vecka före första klassen.</strong> 
      Välj ett av nedanstående tre alternativ för att betala.    
    </div>
    <p>
      <h3>Betala med presentkort</h3>
      Om du har ett presentkort så kan du utnyttja det för att betala för kursen genom att skriva in presentkortets kod i fältet nedan.<br>
      <% form_for @booking.payment do |f| %>
        <p>Kod
        <%= text_field_tag :coupon_id, params[:coupon_id], :size => 8 %></p>
        <%= f.submit 'Betala med presentkort' %>
      <% end  %>  
    </p>
    <p>
      <h3>Betala med kreditkort</h3>
      Du kan betala för våra kurser snabbt och säkert med kreditkort via <%= link_to_function 'PayPal', 'forms[0].submit()' %>.
    </p>
    <%= render :partial => "/paypal/button", :locals => { 
      :item_id => @booking.payment.token, 
      :notify_url => url_for(:host => PaypalConfig[:host], :controller => 'bookings', :action => 'paypal_ipn'), 
      :return_url => url_for(:host => PaypalConfig[:host], :controller => 'bookings', :action => 'paypal_success', :id => @booking.payment.token),
      :cancel_url => url_for(:host => PaypalConfig[:host], :controller => 'bookings', :action => 'paypal_cancel', :id => @booking.payment.token),
      :ammount => @booking.booker.price, 
      :item_name => "Kursanmälan för #{ @booking.booker.name }  med kursstart #{ l(@booking.booker.starts_at, :format => :day) }" 
    }   %>  
    <p>
      <h3>Betala med bankgiro</h3>
      Det går även bra att betala till vårt bankgiro <strong>5091-8051</strong>.<br> Märk inbetalningen <strong>"<%= @booking.booker.name %> (ref.nr <%= @booking.id %>)"</strong>
    </p>
  <%- elsif @booking.payment.type?(:paypal_reciept) -%>
    <p>
     Kursavgiften är betald och ditt PayPal referencenummer för din betalning är <strong><%= @booking.payment.reciept.transaction_id %></strong>
    </p>
  <%- elsif @booking.payment.type?(:gift_certificate) -%>
      <p>
       Kursavgiften är betald med <%= link_to 'värdekupong', gift_certificate_path(@booking.payment.reciept) %>.
      </p>
  <%- end -%>

  <p>
    Om du har några frågor så maila oss gärna på <strong><%= mail_to AppConfig[:support_mail] %></strong> eller ring oss på <strong><%= AppConfig[:support_phone] %></strong>.   
  </p>
</div>