<%= form.error_messages %>

<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description %>
</p>
<p>
  <%= form.label :type %><br />
  <%= form.select :type, options_for_select([%w{Presentkort GiftCertificateType}, %w{Säsongskort SeasonalPassType}, %w{Klippkort PunchCardType}], :selected => @coupon_type.type) %>
</p>
<p>
  <%= form.label :value %><br />
  <%= form.text_field :value %>
</p>
<p>
  <%= form.label :valid_for %><br />
  <%= form.select :valid_for, options_for_select(%w{Session Course}, :selected => @coupon_type.valid_for) %>
</p>
<p>
  <%= form.label :times %><br />
  <%= form.text_field :times %>
</p>
<p>
  <%= form.label :valid_from %><br />
  <%= form.datetime_select :valid_from %>
</p>
<p>
  <%= form.label :valid_to %><br />
  <%= form.datetime_select :valid_to %>
</p>
<p>
  <%= form.label :status %><br />
  <%= form.check_box :status, {}, Status::ACTIVE, Status::DISABLED %>
</p>
