%h1 Listing kupponger
%table
  %tr
    %th Name
    %th Description
    %th Value
    %th Type
  - @coupon_type.each do |coupon_type|
    %tr
      %td= coupon_type.name
      %td= coupon_type.description
      %td= coupon_type.value
      %td= coupon_type.class.human_name
      %td= link_to 'Show', admin_coupon_type_path(coupon_type)
      %td= link_to 'Edit', edit_admin_coupon_type_path(coupon_type)
      %td= link_to 'Destroy', admin_coupon_type_path(coupon_type), :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'Nytt presentkort', new_admin_coupon_type_path
