<h1>Listing presentkort</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Value</th>
    <th>Valid from</th>
    <th>Valid to</th>
  </tr>

<% @coupon_types.each do |coupon_type| %>
  <tr>
    <td><%= coupon_type.name %></td>
    <td><%= coupon_type.description %></td>
    <td><%= coupon_type.value %></td>
    <td><%= coupon_type.valid_from %></td>
    <td><%= coupon_type.valid_to %></td>
    <td><%= link_to 'Show', admin_coupon_type_path(coupon_type) %></td>
    <td><%= link_to 'Edit', edit_admin_coupon_type_path(coupon_type) %></td>
    <td><%= link_to 'Destroy', admin_coupon_type_path(coupon_type), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nytt presentkort', new_admin_coupon_type_path %>