<p>
  <b>Name:</b>
  <%= @coupon_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @coupon_type.description %>
</p>

<p>
  <b>Value:</b>
  <%= @coupon_type.value %>
</p>

<p>
  <b>Valid from:</b>
  <%= @coupon_type.valid_from %>
</p>

<p>
  <b>Valid to:</b>
  <%= @coupon_type.valid_to %>
</p>


<%= link_to 'Edit', edit_admin_coupon_type_path(@coupon_type) %> |
<%= link_to 'Back', admin_coupon_types_path %>