<h1>Listing user_gift_certificates</h1>

<table>
  <tr>
    <th>To name</th>
    <th>To email</th>
    <th>To phone</th>
    <th>To address</th>
    <th>From name</th>
    <th>From email</th>
    <th>From phone</th>
    <th>From address</th>
    <th>Message</th>
    <th>Gift certificate</th>
  </tr>

<% @user_gift_certificates.each do |user_gift_certificate| %>
  <tr>
    <td><%=h user_gift_certificate.to_name %></td>
    <td><%=h user_gift_certificate.to_email %></td>
    <td><%=h user_gift_certificate.to_phone %></td>
    <td><%=h user_gift_certificate.to_address %></td>
    <td><%=h user_gift_certificate.from_name %></td>
    <td><%=h user_gift_certificate.from_email %></td>
    <td><%=h user_gift_certificate.from_phone %></td>
    <td><%=h user_gift_certificate.from_address %></td>
    <td><%=h user_gift_certificate.message %></td>
    <td><%=h user_gift_certificate.gift_certificate %></td>
    <td><%= link_to 'Show', admin_user_gift_certificate_path(user_gift_certificate) %></td>
    <td><%= link_to 'Edit', edit_admin_user_gift_certificate_path(user_gift_certificate) %></td>
    <td><%= link_to 'Destroy', user_admin_gift_certificate_path(user_gift_certificate), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nytt presentkort', new_admin_user_gift_certificate_path %>