<h1>Listing coupons</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Valid to</th>
  </tr>

<% @coupons.each do |coupon| %>
  <tr>
    <td><%= coupon.valid? ? 'X' : '' %></td>
    <td><%= coupon.to_name %> <%= "(#{coupon.available_times})" if coupon.available_times %></td>
    <td><%= coupon.coupon_type.name %> (<%= coupon.type %>)</td>
    <td><%= l(coupon.valid_to, :format => "%Y-%m-%d") unless coupon.valid_to.nil? %></td>
    <td><%= link_to 'Show', admin_coupon_path(coupon) %></td>
    <td><%= link_to 'Edit', edit_admin_coupon_path(coupon) %></td>
    <td><%= link_to 'Destroy', admin_coupon_path(coupon), :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @coupons %>
<%= page_entries_info @coupons %>

<br />

<%= link_to 'Ny kuppong', new_admin_coupon_path %>