<p>
  <b>To name:</b>
  <%= @coupon.to_name %>
</p>

<p>
  <b>To email:</b>
  <%= @coupon.to_email %>
</p>

<p>
  <b>To phone:</b>
  <%= @coupon.to_phone %>
</p>

<p>
  <b>To address:</b>
  <%= @coupon.to_address %>
</p>

<p>
  <b>From name:</b>
  <%= @coupon.from_name %>
</p>

<p>
  <b>From email:</b>
  <%= @coupon.from_email %>
</p>

<p>
  <b>From phone:</b>
  <%= @coupon.from_phone %>
</p>

<p>
  <b>From address:</b>
  <%= @coupon.from_address %>
</p>

<p>
  <b>Message:</b>
  <%= @coupon.message %>
</p>

<p>
  <b>Coupon type:</b>
  <%= @coupon.coupon_type.name %>
</p>


<%= link_to 'Edit', edit_admin_coupon_path(@coupon) %> |
<%= link_to 'Back', admin_coupons_path %>