<%= form.error_messages %>

<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description, :rows => 10 %>
</p>
<p>
  <%= form.label :instructor %><br />
  <%= form.select :instructor_id, Instructor.all.map{|i| [i.name, i.id]}, :selected => form.object.instructor.id %>
</p>
<p>
  <%= form.label :level %><br />
  <%= form.text_field :level %>
</p>
<p>
  <%= form.label :status %><br />
  <%= form.check_box :status %>
</p>
<div id="session">
  <%= render :partial => 'sessions', :object => form %>
</div>
<%= add_session_link 'New session', form %>

