<%= form.error_messages %>

<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description %>
</p>
<p>
  <%= form.label :teatcher %><br />
  <%= form.text_field :teatcher %>
</p>
<p>
  <%= form.label :level %><br />
  <%= form.text_field :level %>
</p>
<p>
  <%= form.label :status %><br />
  <%= form.check_box :status %>
</p>
