.footer
  .outer-containor
    .inner-containor
      .footer-background
      .grid
        .columns.columns-six
          .column
            .content
              %ol
                %li &copy; 2012 Nava Yoga studio
                %li Alla rättigheter förbehållna.
          .column
            .content
              %ol
                %li 
                  .icon-map-pin
                  Södra Fogdelyckegatan 28
                %li 374 36 Karlshamn
          .column
            .content
              %ol
                %li 
                  .icon-phone 
                  = link_to "0709-961600", "callto:0709-961600"
                %li 
                  .icon-mail
                  = mail_to "jonas@navayoga.se"
          .column.column-last
            .content
              %ol
                %li 
                  .icon-twitter
                  = link_to "twitter.com/NavaYogaStudio", "http://twitter.com/NavaYogaStudio"
                %li 
                  .icon-facebook
                  = link_to "Facebook", "http://www.facebook.com/pages/Nava-Yoga/127411713956193"
                  .footer-fb-like
                    .fb-like(data-href="http://www.facebook.com/pages/Nava-Yoga/127411713956193" data-send="false" data-layout="button_count" data-width="310" data-show-faces="true" data-font="lucida grande")
  
        - if logged_in?
          .columns.columns-twentyfour
            .column
              .content
                %hr
                %span= link_to("Bokningar", admin_bookings_path)
                |
                %span= link_to("Klasser", admin_sessions_path)
                |
                %span= link_to("Kurser", admin_course_types_path)
                |
                %span= link_to("Deltagare", admin_participants_path)
                |
                %span= link_to("Närvaro", search_admin_attendants_path)
                |
                %span= link_to("Betalningar", admin_payments_path)
                |
                %span= link_to("Kuppongtyper", admin_coupon_types_path)
                |
                %span= link_to("Köpta kupponger", admin_coupons_path)
                |
                %span= link_to("Instruktörer", admin_instructors_path)
                |
                %span= link_to("Logout", user_session_path, :method => :delete)
