!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta(http-equiv="X-UA-Compatible" content="IE=7")/
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "index, follow", :name => "robots"}/
    %meta{:content => "ashtanga yoga studio nyb\303\266rjare avancerade forts\303\244ttning klass klasser kurs kurser pass m\303\245ndag tisdag onsdag torsdag fredag l\303\266rdag s\303\266ndag Karlshamn Blekinge Sverige", :name => "keywords"}/
    %meta{:content => "Karlshamns nya yoga-studio d\303\244r alla kan yoga. Kom och prova p\303\245 yoga f\303\266r f\303\266rsta g\303\245ngen, eller utvecklas vidare tillsammans med oss.", :name => "description"}/
    %title
      Nava Yoga Studio i Karlshamn
      - if yield :title
        \: #{yield :title}
    = javascript_include_tag( |
      'jquery.js',            |
      'jquery-ui.js',         |
      'jquery.tools.min.js',  |
      'jrails'                |
      )                       |
    <![if !IE]>
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900'
    <![endif]>
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    
    = yield(:header)
    = yield(:include_resource)
    %body.bp
      .banner
        .outer-containor
          .inner-containor
            .banner-background
            .grid
              .columns.navigation
                .column= link_to_unless_current 'Hem', root_path
                .column= link_to_unless_current 'Tider och priser', sessions_path
                .column.logo 
                  %a(href="/")
                    %img.logo(src="#{ asset_path 'logo.png' }" width=219 height=99)
                .column= link_to_unless_current "Kontakt och adress", location_path
                .column= link_to_unless_current 'Om Ashtanga Yoga', about_ashtanga_yoga_path
              = yield :banner
      .main-content
        .outer-containor
          .inner-containor
            .grid
              - unless flash.empty?
                .flash
                  - if flash[:notice]
                    %p.flash-notice= flash[:notice]
                  - if flash[:error]
                    %p.flash-error= flash[:error]
              
              = yield
      = render :partial => '/layouts/footer'
      .background{ :style => "background-image: url(#{asset_path("top_banners/#{@background || 'schema'}"+".jpg")})" }
      = yield :popup
      
    - if Rails.env.production?
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
              :javascript
        try {
        var pageTracker = _gat._getTracker("UA-915973-3");
        pageTracker._trackPageview();
        } catch(err) {}