<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="ashtanga yoga studio nybörjare avancerade fortsättning klass klasser kurs kurser pass måndag tisdag onsdag torsdag fredag lördag söndag Karlshamn Blekinge Sverige" />
  <meta name="description" content="Karlshamns nya yoga-studio där alla kan yoga. Kom och prova på yoga för första gången, eller utvecklas vidare tillsammans med oss." />
  <title>Nava yoga-studio i Karlshamn<% if yield :title %>: <%= yield :title %><% end %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'application' %>
  <% if params[:print] %>
  <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" />
  <% end %>
  <%= yield :header %>
</head>
<body>
  <div class="background-image"></div>
  <div class="canvas">
  	<div class="vertical-spacer"></div>
  	<div class="canvas-background"></div>
    <div class="header">
  		<%= image_tag "logo_444_white.png", :class => "logo" %>
  		<div class="global-navigation">
  		  <dl>
  		    <dd><%= link_to_unless_current 'Hem', root_path %></dd> |
  		    <dd><%= link_to_unless_current 'Tider och priser', sessions_path %></dd> |
          <dd><%= link_to_unless_current "Kontakt och adress", location_path %></dd> |
          <dd><%= link_to_unless_current 'Om Ashtanga Yoga', about_ashtanga_yoga_path %></dd>
  		  </dl>
  		</div>
  	</div>
	<% if yield :top %>
    <div class="top">
		  <%= yield :top %>
	  </div>
  <% end %>
  <div class="content">
		<% unless flash.empty? %>
      <div class="flash">
      <% if flash[:notice] %><p class="flash-notice"><%= flash[:notice] %></p><% end %>
      <% if flash[:error] %><p class="flash-error"><%= flash[:error] %></p><% end %>
      </div>
    <% end %>
  	<%= yield %>
	</div>
  <div class="vertical-spacer-break"></div>
	<div class="footer">
	  <dl>
	  <%- if logged_in? -%>
      <dd><%= link_to "Bokningar", admin_bookings_path %></dd>
      <dd><%= link_to "Klasser", admin_sessions_path %></dd>
      <dd><%= link_to "Kurser", admin_courses_path %></dd>
      <dd><%= link_to "Deltagare", admin_participants_path %></dd>
      <dd><%= link_to "Närvaro", admin_attendants_path %></dd>
      <dd><%= link_to "Betalningar", admin_payments_path %></dd>
      <dd><%= link_to "Presentkort", admin_gift_certificate_types_path %></dd>
      <dd><%= link_to "Presentkort (köpta)", admin_gift_certificates_path %></dd>
      <dd><%= link_to "Instruktörer", admin_instructors_path %></dd>
      <dd><%= link_to "Logout", user_session_path, :method => :delete %></dd>
    <%- end -%>
    </dl>
    <dl>
    </dl>
  </div>
</div>
<% if Rails.env.production? %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-915973-3");
  pageTracker._trackPageview();
  } catch(err) {}</script>
<% end %>
</body>
</html>
