!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "index, follow", :name => "robots"}/
    %meta{:content => "ashtanga yoga studio nyb\303\266rjare avancerade forts\303\244ttning klass klasser kurs kurser pass m\303\245ndag tisdag onsdag torsdag fredag l\303\266rdag s\303\266ndag Karlshamn Blekinge Sverige", :name => "keywords"}/
    %meta{:content => "Karlshamns nya yoga-studio d\303\244r alla kan yoga. Kom och prova p\303\245 yoga f\303\266r f\303\266rsta g\303\245ngen, eller utvecklas vidare tillsammans med oss.", :name => "description"}/
    %title
      Nava yoga-studio i Karlshamn
      - if yield :title
        \: #{yield :title}
    = javascript_include_tag( |
      'jquery.js',            |
      'jquery-ui.js',         |
      'jrails'                |
      )                       |
    - javascript_tag do
      = yield(:javascript)
    = stylesheet_link_tag 'application'
    = yield(:header)
    = yield(:include_resource)
    :css
      #{yield(:stylesheet)}
    %body
    .background-image
    .canvas
      .vertical-spacer
      .canvas-background
      .header
        = image_tag "logo_444_white.png", :class => "logo"
        .global-navigation
          %dl
            %dd= link_to_unless_current 'Hem', root_path
            |
            %dd= link_to_unless_current 'Tider och priser', sessions_path
            |
            %dd= link_to_unless_current "Kontakt och adress", location_path
            |
            %dd= link_to_unless_current 'Om Ashtanga Yoga', about_ashtanga_yoga_path
      - if yield :top
        .top
          = yield :top
      .content
        - unless flash.empty?
          .flash
            - if flash[:notice]
              %p.flash-notice= flash[:notice]
            - if flash[:error]
              %p.flash-error= flash[:error]
        = yield
      .vertical-spacer-break
      .footer
        %dl
          - if logged_in?
            %dd= link_to "Bokningar", admin_bookings_path
            %dd= link_to "Klasser", admin_sessions_path
            %dd= link_to "Kurser", admin_course_types_path
            %dd= link_to "Deltagare", admin_participants_path
            %dd= link_to "Närvaro", search_admin_attendants_path
            %dd= link_to "Betalningar", admin_payments_path
            %dd= link_to "Kuppongtyper", admin_coupon_types_path
            %dd= link_to "Köpta kupponger", admin_coupons_path
            %dd= link_to "Instruktörer", admin_instructors_path
            %dd= link_to "Logout", user_session_path, :method => :delete
        %dl
    - if Rails.env.production?
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
              :javascript
        try {
        var pageTracker = _gat._getTracker("UA-915973-3");
        pageTracker._trackPageview();
        } catch(err) {}